:root,
[data-bs-theme=dark] {
--bs-dark-rgb: 200, 40, 0;
}

html {font-size: 20px;}

/* 連結google雲端字體，提供用戶一致的體驗 */
@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');

/* 統一每一個網頁的背景色 */
/* body {font-family: "微軟正黑體","Chocolate Classical Sans", sans-serif;background: #a51;} */

/* 個別指定網頁背景色 */
bg-color-beige {background-color: beige;}


/* 標題一級文字大小 */
h1 {font-size: 2rem;}

/* 標題二級的文字設定，選取器是標籤，影響整體 */
h2 {font-size: 1.8rem;font-weight: 800;color: rgb(39, 102, 229);}

/* 選取系是類別，影響個別，需要手動套用 */
.h2-custom-pink {font-size: 3rem;font-weight: 800;color: rgb(255, 0, 195);}

/* 駝峰式命名、與其他CSS衝突 */
.iconsTitle{
    font-size: 2rem !important; 
    color: rgb(39, 102, 229); 
    vertical-align: text-bottom; 
}

/* 項目清單符號 */
.list-symbol {list-style-type: circle;}

/* 項目清單色彩 */
li {color: }






/* 中性 / 次要資訊（灰色） */
.text-muted {
  color: #677;
}

/* 警示 / 注意（黃色） */
.text-warning {
  color: #fc0;
}

/* 強調 / 提醒（橙色） */
.text-alert {
  color: #e72;
}

/* 危險 / 錯誤（紅色） */
.text-danger {
  color: #e43;}


/* 保留card類別，新增樣式拿掉邊框 */
.card-no-border {
    border:  none;
    background:  none;
}


/* 字體樣式粗細，100-900 */
/* 類別:個別套用 */
.text-boldest {
    font-weight: 900;
}

/* 複合:整體套用 */
#note h5 {
    font-weight: 900;
}

/* 副標題文字顏色，CharGPT幫忙生成 */
.highlight-title {
  color: rgb(0, 121, 107);
  font-weight: 700;
}

.imgCut {
  width: 100%;/* 原圖尺寸、父層寬度 */
  height: 500px;
  clip: rect(0px,0px,290px,0px);
  object-fit: cover;
}